<html lang="en">
  <head>
  <slot name="head" />
  </head>
  <body style="margin: 0; overflow: hidden;">
  <div id="page-root" style="position: relative; height: 100vh;">
    <slot />
  </div>
  </body>
</html>
