<html lang="en">
  <head>
    <slot name="head" />
    <meta charset="UTF-8" />
  
    <title>Is Brian Torpin'?</title>
    <meta name="description" content="Is Brian playing World of Warships? This site is the definitive source of Torpin' news." />
    <meta name="author" content="twistinside" />
    <meta name="robots" content="index, nofollow" />
    <link rel="canonical" href="https://isbriantorp.in" />
  
      <!-- Open Graph Meta Tags -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Is Brian Torpin'?" />
    <meta property="og:description" content="Is Brian playing World of Warships? This site is the definitive source of Torpin' news." />
    <meta property="og:image" content="https://isbriantorp.in/images/social-share-image.jpeg" />
    <meta property="og:url" content="https://isbriantorp.in" />
    <meta property="og:site_name" content="Is Brian Torpin'?" />
    <meta property="og:locale" content="en_US" />
  
    <link rel="preconnect" href="https://api.isbriantorp.in" crossorigin>
  </head>

  <body style="margin: 0; overflow: hidden;">
    <div id="page-root" style="position: relative; height: 100vh;">
      <slot />
    </div>
  </body>
</html>
